<div class="main-content">
  <div class="card-content">
    <div class="text-content">
      <h1>Faça seu registro<span>.</span></h1>



      <div class="form-content">
        <label for="user">Usuario:</label>
        <input type="text" id="user" name="user" required />
      </div>

      <div class="form-content">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required />
      </div>

      <div class="form-content">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
      </div>


      <button>Entrar</button>

    </div>

    <div class="logo-content"></div>
  </div>
</div>
