<div class="main-content">
  <div class="card-content">
    <div class="text-content">
      <h1>Faça seu login<span>.</span></h1>

      <div class="form-content">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required />
      </div>

      <div class="form-content">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
      </div>
      <a href="">esqueci a senha</a>

      <button>Entrar</button>

      <a href="">criar uma conta</a>
    </div>

    <div class="logo-content"></div>
  </div>
</div>
